version: '3'

services:
#  Log into this container with : docker-compose exec front sh
  front:
    image: nginx:mainline-alpine
    ports:
      - 80:80
    volumes:
      - .:/home/docker:ro
      - ./docker/front/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - engine

#  Log into this container with : docker-compose exec engine sh
  engine:
    build: . 
      context: ./docker/engine/
      args:
      # Get the user id & group id of the owner of the project dir with "ls -la" and paste the result here. This will update the
      # project dir permission inside the container
      - HOST_USER=1000
      - HOST_USERGROUP=987  
    ports:
      - 9000:9000
    volumes:
      - .:/home/docker:rw
      - ./docker/engine/php.ini:/usr/local/etc/php/conf.d/custom.ini:ro
    depends_on:
      - database

#  Log into this container with : docker-compose exec database sh
  database:
    build: ./docker/database
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=database
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pwd
      # Allow empty password for the root user
      # - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 3306:3306

# A package.json file is required with script command (npm run watch, npm run dev....)
#  Log into this container with : docker-compose exec build sh
  build: 
    build: 
      context: ./docker/nodejs/
      args:
      # Get the user id & group id of the owner of the project dir with "ls -la" and paste the result here. This will update the
      # project dir permission inside the container
      - HOST_USER=1000
      - HOST_USERGROUP=987 
    volumes:
      - ./:/home/docker:rw
    #    Insert the NPM run command, from the package.json, to execute at startup
    command: "npm run test"

## MailDev allow to test your projects' emails during development
## Go to localhost:1080 to see the mail box
#  maildev:
#    image: djfarrelly/maildev
#    ports:
#      - 1080:80
#      - 1025:25